@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  background: rgba(252, 251, 249, 0.68);
  font-size: 16px;
  color: #4d4f56;
  font-weight: 400;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* ==========================
*   Typohraphy
============================*/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #25282b;
}

a {
  color: rgb(0, 188, 126);
}

a:hover {
  text-decoration: none;
  color: rgb(5, 161, 109);
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  color: #404048;
}

ul {
  list-style-type: none;
  padding: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #eaebeb;
}

/*==================================
* Bootstrap grid tweaks
*===================================*/

.container {
  max-width: 1270px;
  width: 94%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*="col-"]:not(:first-child),
.row.no-gutter [class*="col-"]:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.page-wrapper {
  padding-top: 68px;
}

.inner-page {
  margin-top: 30px;
  margin-bottom: 50px;
}

/*==================================
* Foms
*===================================*/

.custom-control-input:checked ~ .custom-control-indicator {
  color: #fff;
  background-color: rgb(0, 188, 126);
  margin-top: 0;
  padding: 10px;
  border-radius: 100%;
}

.custom-checkbox .custom-control-indicator {
  border-radius: 100%;
}

.custom-control-indicator {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
  border: 1px solid rgba(116, 135, 150, 0.23);
}

.custom-control-input:focus ~ .custom-control-indicator {
  -webkit-box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem rgb(0, 188, 126);
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem rgb(0, 188, 126);
}

/* .custom-radio .custom-control-input:checked ~ .custom-control-indicator {
  
} */

.custom-control-input:active ~ .custom-control-indicator {
  color: #fff;
  background-color: rgb(0, 188, 126);
}

.custom-control-input:disabled ~ .custom-control-indicator {
  cursor: not-allowed;
  background-color: #eee;
}

.custom-control-input:disabled ~ .custom-control-description {
  color: #cfcfcf;
}

.custom-control {
  padding-left: 30px;
}

.form-control {
  border: 1px solid #eaebeb;
  border-radius: 3rem;
}

.custom-select {
  line-height: 1;
}

/* ==========================
*   Buttons
============================*/

.form-control-lg,
.dropdown-menu,
.btn,
.btn-group-lg > .btn,
.btn-lg,
.img-rounded {
  border-radius: 2px;
}

.btn {
  transition: all 0.4s;
}

.btn-secondary {
  color: #373a3c;
  background-color: rgba(252, 251, 249, 0.68);
  border-color: #eaebeb;
}

.theme-btn {
  background-color: rgb(0, 188, 126);
  border-color: rgb(0, 188, 126);
  color: #fff;
}

.theme-btn-dash {
  border: 2px dashed rgb(0, 188, 126);
  background-color: transparent;
  color: rgb(0, 188, 126);
}

.theme-btn-dash:hover,
.theme-btn,
.theme-btn.btn-lg:hover,
.btn-secondary:hover {
  background-color: rgb(0, 188, 126);
  color: #fff;
  border: 1px solid rgb(0, 188, 126);
}

.theme-btn-dash:hover {
  border: 2px solid rgb(0, 188, 126);
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.primary-color {
  color: rgb(0, 188, 126);
}

/* ==========================
*   Helpers
============================*/

.space-xs {
  padding-bottom: 15px;
  padding-top: 15px;
}

.space-sm {
  padding-bottom: 30;
  padding-top: 30px;
}

.space-md {
  padding-top: 90px;
  padding-bottom: 90px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-30 {
  margin-top: 30px;
}

.b-l {
  border-left: 1px solid #3cee1d;
}

.b-r {
  border-left: 1px solid #3cee1d;
}

.b-t {
  border-top: 1px solid #3cee1d;
}

.b-b {
  border-bottom: 1px solid #3cee1d;
}

.b-b-0 {
  border-bottom: none !important;
}

.b-t-0 {
  border-top: none !important;
}

.b-l-0 {
  border-left: none !important;
}

.b-r-0 {
  border: 2px solid #ccc;
}

.align-wrap {
  display: inline-table;
  min-height: 100%;
}

.align-vertical {
  display: table-cell;
  vertical-align: middle;
}

.font-white {
  color: #fff;
}

/* ============================
* PAGINATION
==============================*/

.page-item.disabled .page-link,
.page-item.disabled .page-link:focus,
.page-item.disabled .page-link:hover {
  border-color: #eaebeb;
}

.page-link {
  color: inherit;
  background-color: #fff;
  border: 1px solid #eaebeb;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover {
  background-color: rgb(0, 188, 126);
  border-color: rgb(0, 188, 126);
}

/* ==========================
*   Header and navigation
============================*/

#header {
  position: fixed;
  width: 100%;
  border: 0;
  z-index: 99;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  padding: 1rem 2rem;
  border-radius: 0;
}

.navbar-nav .nav-item {
  padding-left: 10px;
}

.navbar-dark .navbar-toggler {
  background-image: none;
  border-color: transparent;
}

@media (max-width: 62em) {
  .navbar-nav {
    padding-top: 0.425rem;
    padding-left: 0.75rem;
  }
  .navbar-nav .nav-item {
    text-align: center;
  }
  .navbar-brand {
    float: right;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }
  .dropdown-menu {
    position: relative;
    float: none;
    background-color: transparent;
  }
  .dropdown-menu a {
    color: #fff;
  }
}

.navbar-brand {
  font-size: 1.5rem;
  color: red;
}

.headroom--pinned {
  display: block;
}

.headroom--unpinned {
  display: none;
}

.navbar-fixed-top {
  position: fixed;
}

.navbar-toggler {
  padding: 4px 0;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
  border-radius: 2px;
}

/********* top links part ***********/

.top-links {
  padding: 15px 0;
  border-bottom: 1px solid #eaebeb;
}

.top-links ul {
  margin-bottom: 0;
}

.link-item a {
  font-size: 12px;
  color: #414551;
}

.link-item.active span {
  background-color: rgb(0, 128, 0);
  color: #fff;
}

.links {
  display: block;
}

.links span {
  border: 1px solid #eaebeb;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  color: #3a3e47;
  font-weight: 600;
  display: inline-block;
  margin-right: 18px;
  text-align: center;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.links li:hover span {
  background-color: rgb(5, 161, 109);
  color: #fff;
}

@media (max-width: 800px) {
  .top-links {
    display: none;
  }
}

/* ==========================
*   Hero
============================*/

.hero {
  padding-top: 12%;
  padding-bottom: 10%;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-family: "Give You Glory", cursive;
  color: #fff;
  font-size: 3.7em;
  font-weight: 700;
}

.hero:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(7, 6, 29, 0.37);
}

.hero .hero-inner {
  position: relative;
  z-index: 1;
}

/* ==========================
*   Hero steps
============================*/

.step-item {
  display: inline-block;
  margin: 0 40px 0;
  position: relative;
}

.banner-form {
  margin-bottom: 60px;
  display: block;
  margin-top: 20px;
}

.step-item svg {
  display: inline-block;
  width: 34px;
  height: 34px;
}

.step-item img {
  display: block;
  margin: 0 auto 15px;
}

.step-item h4 {
  font-family: "Give You Glory", cursive;
  color: #fff;
  font-size: 21px;
}

.step-item h4 span {
  color: rgb(0, 128, 0);
}

.step1:after,
.step2:after {
  position: absolute;
  content: "";
  right: -58%;
  top: -20%;
  width: 130px;
  height: 32px;
  background: url(../images/arrow.png);
}

.step2:after {
  background: url(../images/arrow-dotted.png);
  height: 25px;
  right: -95%;
  top: -15%;
}

@media (max-width: 568px) and (min-width: 280px) {
  .step1:after,
  .step2:after {
    display: none;
  }
  .hero h1 {
    font-size: 2.2em;
    padding-top: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .step-item {
    margin: 0 30px 0;
  }
}

/* ==========================
*   Hero steps
============================*/

.step-item {
  display: inline-block;
  margin: 0 40px 0;
  position: relative;
}

.banner-form {
  margin-bottom: 60px;
  display: block;
  margin-top: 20px;
}

.step-item svg {
  display: inline-block;
  width: 34px;
  height: 34px;
}

.step-item img {
  display: block;
  margin: 0 auto 15px;
}

.step-item h4 {
  font-family: "Give You Glory", cursive;
  color: #fff;
  font-size: 21px;
}

.step-item h4 span {
  color: rgb(0, 188, 126);
}

.step1:after,
.step2:after {
  position: absolute;
  content: "";
  right: -58%;
  top: -20%;
  width: 130px;
  height: 32px;
  background: url(../images/arrow.png);
}

.step2:after {
  background: url(../images/arrow-dotted.png);
  height: 25px;
  right: -95%;
  top: -15%;
}

@media (max-width: 568px) and (min-width: 280px) {
  .step1:after,
  .step2:after {
    display: none;
  }
  .hero h1 {
    font-size: 2.2em;
    padding-top: 75px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .step-item {
    margin: 0 30px 0;
  }
}

/* ==========================
*   Detect location
============================*/

.location-match {
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.location-match span {
  font-weight: 600;
}

.location-match a {
  color: rgb(0, 188, 126);
}

.location-match a:hover {
  color: #43434c;
}

/* ==========================
*  Popular Menu
============================*/

.popular {
  padding: 70px 0 90px;
  background-size: 100%;
}

.food-item-wrap {
  border: 1px solid #eaebeb;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 30px;
  background: #fafaf8;
}

.food-item-wrap h5 a {
  color: #25282b;
  font-size: 21px;
  font-weight: 600;
}

.food-item-wrap .title h3 {
  font-size: 16px;
  margin-bottom: 35px;
  color: #414551;
  line-height: 21px;
  font-weight: 300;
}

.food-item-wrap .price {
  font-size: 21px;
  font-weight: 700;
  color: #000;
  margin-top: 4px;
  display: inline-block;
}

.food-item-wrap .product-name {
  margin-bottom: 20px;
}

.food-item-wrap .content {
  padding: 25px 15px 35px;
}

.food-item-wrap .restaurant-block {
  border-top: 1px solid #eaebeb;
  float: left;
  width: 100%;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
}

.food-item-wrap .right-text {
  margin-left: 10px;
}

.food-item-wrap .right-text a {
  display: block;
}

.food-item-wrap .left {
  float: left;
  padding: 8px 15px;
}

.food-item-wrap .left img {
  padding-top: 3px;
}

@media (min-width: 320px) and (max-width: 568px) {
  .food-item-wrap .left {
    float: left;
    padding: 10px;
  }
  .food-item .left img {
    width: 45px;
  }
  .food-item-wrap .right-text {
    font-size: 13px;
  }
}

.food-item-wrap .right {
  padding: 10px 0;
}

.food-item-wrap .right-like-part {
  border-left: 1px solid #eaebeb;
  padding: 25px 15px;
  font-size: 13px;
}

@media (min-width: 280px) and (max-width: 580px) {
  .food-item-wrap .right-like-part {
    padding: 24px 10px;
    font-size: 10px;
  }
}

.food-item-wrap .right-like-part img {
  vertical-align: middle;
  margin-right: 5px;
}

.food-item-wrap .right-text a {
  color: #25282b;
  font-weight: 400;
}

.food-item-wrap .right-text span,
.food-item-wrap .right-like-part,
.food-item-wrap .right-like-part span {
  font-weight: 300;
  color: #748796;
}

.food-item-wrap .figure-wrap {
  position: relative;
  height: 210px;
}

.food-item-wrap .food-item-wrap figure {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.food-item-wrap .food-item-wrap figure img {
  width: 100%;
}

.food-item-wrap .figure-wrap:after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  background: url(../images/zig-zag.png);
  width: 100%;
  height: 5px;
}

.food-item-wrap:hover h5 > a,
.food-item-wrap:hover .right-text > a {
  color: rgb(0, 188, 126);
}

.food-item-wrap .figure-text {
  position: absolute;
  top: 0;
  padding: 13px 28px 18px 18px;
  width: 100%;
  height: 100%;
}

.food-item-wrap .figure-text .bottom {
  position: absolute;
  bottom: 25px;
  float: left;
  width: 87%;
}

.food-item-wrap .review {
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.food-item-wrap .distance {
  background: rgb(0, 188, 126);
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.food-item-wrap .rating .fa-star {
  color: #ffff00;
  font-size: 16px;
}

.food-item-wrap .rating .fa-star-o {
  font-size: 17px;
}

.food-item-wrap .rating {
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.food-item-wrap .review {
  right: 30px;
  position: absolute;
  bottom: 30px;
}

.food-item-wrap .review a {
  color: #fff;
}

.food-item-wrap .left-sidebar,
.food-item-wrap .right-sidebar {
  width: 300px;
}

.food-item-wrap .lf-ghost {
  width: 395px !important;
  float: left;
}

@media (min-width: 544px) and (max-width: 767px) {
  .food-item-wrap .right-text {
    margin: 5px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .food-item-wrap .right-like-part {
    width: 100%;
    padding: 5px 10px;
    background: #fff;
    border: 0;
    border-top: 1px solid #eaebeb;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .food-item-wrap .restaurant-block {
    text-align: center;
  }
  .food-item-wrap .left {
    float: none;
  }
  .food-item-wrap .pull-left {
    float: none;
  }
  .food-item-wrap .right-text span,
  .food-item-wrap .right-like-part,
  .food-item-wrap .right-like-part span {
    width: 100%;
  }
  .right-like-part.pull-right {
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eaebeb;
    padding: 10px;
  }
  .food-item-wrap .price-btn-block {
    text-align: center;
  }
  .food-item-wrap .price-btn-block .price {
    margin-bottom: 15px;
    display: block;
  }
  .food-item-wrap .price-btn-block .btn {
    float: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .food-item-wrap .left {
    padding: 10px;
    font-size: 11px;
    line-height: 20px;
  }
}

/* ==========================
*  Footer
============================*/

footer {
  background: #000000;
  padding: 90px 0;
  z-index: 1;
  position: relative;
}

.payment-options ul li {
  display: inline-block;
  margin-right: 8px;
}

footer h5 {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 15px;
}

.footer-logo-block img {
  display: block;
  margin-bottom: 15px;
}

footer p,
footer,
footer span {
  font-weight: 300;
  color: #9c9da5;
}

.address h5 a {
  color: rgb(0, 188, 126);
  font-size: 26px;
  font-family: "Give You Glory", cursive;
  margin-left: 20px;
  font-weight: 600;
}

.address h5 a:hover {
  color: #fff;
}

.popular-locations ul li {
  display: inline-block;
  width: 49%;
}

footer ul li {
  margin-bottom: 6px;
}

footer ul li a {
  color: #9c9da5;
  transition: all 0.3s;
}

.how-it-works-links {
  margin-bottom: 70px;
}

.address p {
  margin-bottom: 35px;
}

footer ul li a:hover {
  color: rgb(0, 188, 126);
}

footer li a {
  line-height: 20px;
  display: inline-block;
}

.payment-options ul {
  margin-top: 10px;
  float: left;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footer-logo-block {
    margin-bottom: 25px;
  }
}
